/* .container{
    display: grid;
    grid-template-columns: 1.9fr 9fr;
} */
/* grid-template-columns:130px 9fr; */
.body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow: scroll;
    background-color: #F8F8F8;
}




